* {
    margin: 0, auto;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-shadow: -2.5px -2.5px 0 black, 2.5px -2.5px 0 black, -2.5px 2.5px 0 black, 2.5px 2.5px 0 black;
    width: auto;
    height: auto;
}

html {
    background-color: rgba(0, 0, 0, 0.28);
    /* semi-transparent black background for the board */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F73%2F44%2Fdf%2F7344df4ce0ef278d7d96d34358d269c4.jpg&f=1&nofb=1&ipt=5670f1d84fb8e8b120f2912f2f9b37649fb24f9a67f85cb3fcfc44cdac8a94ec&ipo=images');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    height: auto;
    width: auto;
    margin: auto;
}

body {
    font-family: 'Courier New', Courier, monospace;
    /* newspaper easy to read*/
    color: white;
    /* white color for better contrast against the dark background */
    margin: 0, auto;
    padding: auto;
    box-sizing: border-box;

}

#board {
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    /* semi-transparent black background for the board */
    border: 2px solid white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    /* rounded corners */
    background-position: center center;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    font-weight: bold;
}

#startOfGame {
    background-color: forestgreen;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-right: 1px;
}

#reset {
    background-color: darkred;
    top: 10px;
    right: 15px;
    text-align: right;
    height: 55px;
    width: 55px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    padding: auto;
    font-size: 14px;
    margin-left: 1px;

}

#startOfGame:hover {
    background-color: #4CAF50;
    /* brighter green when mouse hovers over */
    color: white;
}

#reset:hover {
    background-color: red;
    /* brighter red when mouse hovers over */
    color: white;
}

#bigDice img {
    transform: scale(1.75);
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#bigDice img #bigDie1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('#bigDie1');
    /* add a matte layer on top of the image */
}

#bigDice img #bigDie2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('#bigDie2');
    /* add a matte layer on top of the image */
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#imgdie1,
#imgdie2,
#imgdie3,
#imgdie4,
#imgdie5,
#imgdie6,
#bigDie1,
#bigDie2 {
    animation: roll 0.6s ease-in-out;
}


/* create a rolling animation for the dice */
#bigDie1::after,
#bigDie2::after {
    content: '';
    /* empty content */
    animation: rolling 6s linear infinite;
    /* apply the rolling animation */
}

#bigDie1::after,
#bigDie2::after {
    content: '';
    /* 2nd die */
    animation: rolling 6s linear infinite;
}

@keyframes rolling {
    0% {
        content: '\2680';
    }

    /* Dice face 1 */
    20% {
        content: '\2681';
    }

    /* Dice face 2 */
    40% {
        content: '\2682';
    }

    /* Dice face 3 */
    60% {
        content: '\2683';
    }

    /* Dice face 4 */
    80% {
        content: '\2684';
    }

    /* Dice face 5 */
    100% {
        content: '\2685';
    }

    /* Dice face 6 */
}

#gameInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    text-align: center;
    font-size: 24px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 16px;
    margin: 16px 0;
}