* {
    margin: 0, auto;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-shadow: -2.5px -2.5px 0 black, 2.5px -2.5px 0 black, -2.5px 2.5px 0 black, 2.5px 2.5px 0 black;
    width: auto;
    height: auto;
}

html {
    background-color: rgba(0, 0, 0, 0.28); 
    /* Semi-transparent black background for the board */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F73%2F44%2Fdf%2F7344df4ce0ef278d7d96d34358d269c4.jpg&f=1&nofb=1&ipt=5670f1d84fb8e8b120f2912f2f9b37649fb24f9a67f85cb3fcfc44cdac8a94ec&ipo=images');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    height: auto;
    width: auto;
}

body {
    font-family: 'Courier New', Courier, monospace;
    /* This font gives a gritty, urban feel */
    color: white;
    /* White color for better contrast against the dark background */
    margin: 0, auto;
    padding: auto;
    box-sizing: border-box;
}

#board {
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    /* Semi-transparent black background for the board */
    border: 2px solid white;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    /* Rounded corners */
    background-position: center center;
}

button {
    background-color: #4CAF50;
    /* Green color */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: forestgreen
        /* Darker green when mouse hovers over */
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#imgdie1,
#imgdie2,
#imgdie3,
#imgdie4,
#imgdie5,
#imgdie6 {
    animation: roll 0.6s ease-in-out;
}

.dice {
    font-size: 100px;
    font-weight: 800;
}

/* Create a rolling animation for the dice */
.dice::after {
    content: '';
    /* Empty content */
    animation: rolling 6s linear infinite;
    /* Apply the rolling animation */
}